@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		height: 100vh;
		width: 100vw;
	}

	body {
		background-image: linear-gradient(
			to right top,
			#b9babb,
			#c6c6c7,
			#d2d3d3,
			#dfdfe0,
			#ececec
		);
	}
}

@layer components {
	.title {
		@apply font-bold;
		margin: 10px 0;
		&::after {
			content: '_';
			font-family: inherits;
			font-size: inherits;
		}
	}

	.date {
		@apply text-xs font-bold;
	}

	p {
		@apply text-base text-sm/7;
	}
}
